<a href="https://colab.research.google.com/github/csanny/Survice-BERT/blob/main/predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown 1ZA6QHJC-VzDgr-bN29ti8JajagVtQR7k

Downloading...
From: https://drive.google.com/uc?id=1ZA6QHJC-VzDgr-bN29ti8JajagVtQR7k
To: /content/Survice-BERT_V4_lr3_8-8.pt
100% 442M/442M [00:02<00:00, 203MB/s]

In [2]:
!pip install numpy==1.22.2
!pip install pandas==1.4.4
!pip install NERDA==0.9.6
!pip install torch==1.13.1

import numpy as np
import pandas as pd 
from NERDA.models import NERDA
import torch
import os
from google.colab import drive
import nltk
nltk.download('punkt')

pd.set_option('display.max_rows', 500)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy==1.22.2 in /usr/local/lib/python3.9/dist-packages (1.22.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.4.4 in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas==1.4.4) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: NERDA==0.9.6 in /usr/local/lib/python3.9/dist-packages (0.9.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (1.4.4)
Requirement already satisfied: torch in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (1.13.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (0.0.post1)
Requirement already satisfied: pyconll in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (3.1.0)
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (4.27.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (3.8.1)
Requirement already satisfied: progressbar in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (2.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (4.65.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (8.1.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (2022.7.1)
Requirement already satisfied: nvidia-cudnn-cu11==8.5.0.96 in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (8.5.0.96)
Requirement already satisfied: nvidia-cuda-nvrtc-cu11==11.7.99 in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (11.7.99)
Requirement already satisfied: nvidia-cuda-runtime-cu11==11.7.99 in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (11.7.99)
Requirement already satisfied: nvidia-cublas-cu11==11.10.3.66 in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (11.10.3.66)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (4.5.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.9/dist-packages (from nvidia-cublas-cu11==11.10.3.66->torch->NERDA==0.9.6) (0.40.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from nvidia-cublas-cu11==11.10.3.66->torch->NERDA==0.9.6) (67.6.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (0.13.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (0.13.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (3.10.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (23.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->NERDA==0.9.6) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (2.0.12)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch==1.13.1 in /usr/local/lib/python3.9/dist-packages (1.13.1)
Requirement already satisfied: nvidia-cublas-cu11==11.10.3.66 in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (11.10.3.66)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (4.5.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu11==11.7.99 in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (11.7.99)
Requirement already satisfied: nvidia-cudnn-cu11==8.5.0.96 in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (8.5.0.96)
Requirement already satisfied: nvidia-cuda-runtime-cu11==11.7.99 in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (11.7.99)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from nvidia-cublas-cu11==11.10.3.66->torch==1.13.1) (67.6.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.9/dist-packages (from nvidia-cublas-cu11==11.10.3.66->torch==1.13.1) (0.40.0)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
model = torch.load('/content/Survice-BERT_V4_lr3_8-8.pt')

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.24.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [4]:
sentence1 = 'A total of 3 cases of MVE virus infection and 2 deaths have been reported in Victoria this mosquito season.'
predict_result = model.predict_text(sentence1)

pd.DataFrame({'value':predict_result[0][0], 'ner_v1':predict_result[1][0]})

        value     ner_v1
0           A          O
1       total          O
2          of          O
3           3     B-CASE
4       cases          O
5          of          O
6         MVE  B-DISEASE
7       virus  I-DISEASE
8   infection          O
9         and          O
10          2    B-DEATH
11     deaths          O
12       have          O
13       been          O
14   reported          O
15         in          O
16   Victoria      B-LOC
17       this          O
18   mosquito          O
19     season          O
20          .          O

In [5]:
sentence2 = '•	From 1 November 2022 to 27 January 2023, a total of 559 cases of meningitis (of which 111 are laboratory confirmed), including 18 deaths (overall CFR 3.2%), have been reported from Zinder Region, southeast of Niger, compared to the 231 cases reported during 1 November 2021 to 31 January 2022.'
predict_result = model.predict_text(sentence2)

pd.DataFrame({'value':predict_result[0][0], 'ner_v1':predict_result[1][0]})

         value        ner_v1
0            •             O
1         From             O
2            1    B-DATE_DAY
3     November  B-DATE_MONTH
4         2022   B-DATE_YEAR
5           to             O
6           27    B-DATE_DAY
7      January  B-DATE_MONTH
8         2023   B-DATE_YEAR
9            ,             O
10           a             O
11       total             O
12          of             O
13         559        B-CASE
14       cases             O
15          of             O
16  meningitis     B-DISEASE
17           (             O
18          of             O
19       which             O
20         111        B-CASE
21         are             O
22  laboratory             O
23   confirmed             O
24           )             O
25           ,             O
26   including             O
27          18       B-DEATH
28      deaths             O
29           (             O
30     overall             O
31         CFR             O
32         3.2             O
33           %             O
34           )             O
35           ,             O
36        have             O
37        been             O
38    reported             O
39        from             O
40      Zinder         B-LOC
41      Region         I-LOC
42           ,             O
43   southeast         B-LOC
44          of         I-LOC
45       Niger         I-LOC
46           ,             O
47    compared             O
48          to             O
49         the             O
50         231        B-CASE
51       cases             O
52    reported             O
53      during             O
54           1    B-DATE_DAY
55    November  B-DATE_MONTH
56        2021   B-DATE_YEAR
57          to             O
58          31    B-DATE_DAY
59     January  B-DATE_MONTH
60        2022   B-DATE_YEAR
61           .             O